<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Screening System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

<div class="hero">

    <div class="card">

        <h1>🤖 AI Resume Screening System</h1>

        <p>
            Upload Resume • ATS Score • Job Recommendation • AI Suggestions
        </p>

        <div class="buttons">

            <a href="/register_page">
                <button>Register</button>
            </a>

            <a href="/login_page">
                <button>Login</button>
            </a>

            <a href="/upload_page">
                <button>Upload Resume</button>
            </a>

            <a href="/history_page">
                <button>Resume History</button>
            </a>

            <a href="/dashboard">
                <button>Admin Dashboard</button>
            </a>

        </div>

    </div>

</div>

</body>

</html>