*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:#eef2f7;
}

.navbar{

    background:#2563eb;

    color:white;

    padding:18px 50px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.logo{

    font-size:24px;

    font-weight:bold;
}

.menu a{

    color:white;

    text-decoration:none;

    margin-left:20px;

    font-weight:500;
}

.container{

    width:90%;

    max-width:1100px;

    margin:40px auto;
}

.upload-card{

    background:white;

    border-radius:15px;

    padding:35px;

    text-align:center;

    box-shadow:0 8px 25px rgba(0,0,0,.12);
}

.upload-card h2{

    color:#2563eb;

    margin-bottom:10px;
}

.upload-card p{

    color:#666;

    margin-bottom:25px;
}

input[type=file]{

    width:100%;

    padding:18px;

    border:2px dashed #2563eb;

    border-radius:10px;

    background:#f8fbff;

    margin-bottom:20px;
}

button{

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;
}

button:hover{

    background:#1d4ed8;
}

.result-card{

    background:white;

    margin-top:30px;

    padding:30px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.section{

    margin-top:25px;
}

.section h3{

    color:#2563eb;

    margin-bottom:10px;
}

.skill{

    display:inline-block;

    background:#2563eb;

    color:white;

    padding:8px 14px;

    margin:6px;

    border-radius:20px;

    font-size:14px;
}

.job{

    border-left:5px solid #2563eb;

    background:#f9fbff;

    padding:15px;

    margin-top:15px;

    border-radius:8px;
}

.score{

    font-size:50px;

    color:#16a34a;

    font-weight:bold;

    text-align:center;

    margin:20px 0;
}